<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cherrycapitalmobile.android.mcdistance" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".McDistanceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculateDistanceActivity"
            android:label="McDistance">
        </activity>
        <activity android:name=".DirectionsActivity"
            android:label="McDistance">
        </activity>
        <activity android:name=".ViewMcDistanceActivity"
            android:label="McDistance">
        </activity>
    </application>
</manifest>
